/node_modules/

# Foundry cache and compiler files
/cache/
/out/

.idea/

# Contains Mirror Node request logs created when mocking `curl`
/scripts/curl.log

# Ignore `.env` that contains account details for the `create-token` script
/scripts/.env
