[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "launch-token"]
	path = launch-token
	url = https://github.com/defigirlxo/My-First-Crypto.git
