name: NPM Publish

on:
  workflow_dispatch:
    inputs:
      dry-run-enabled:
        description: 'Enable dry run for publishing (does not publish to npmjs)'
        required: false
        default: false
        type: boolean

permissions:
  id-token: write
  contents: read

jobs:
  build-npm-package:
    name: Build NPM package
    runs-on: smart-contracts-linux-medium
    outputs:
      npm-artifact-name: ${{ steps.set-publish-data.outputs.artifact-name }}
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Prepare Runner
        uses: pandaswhocode/initialize-github-job@ed4a98646fe0235e6ecf3af5414b355d2abe3bf3 # v1.0.3
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          checkout-fetch-depth: '1'
          setup-node: 'true'
          node-version: '20'

      - name: Setup JQ
        uses: step-security/install-jq-action@fd50feb4e8cd2b0e1e72df42db468e62c71d58f4 # v3.2.0
        with:
          version: 1.7

      - name: Install Foundry
        uses: step-security/foundry-toolchain@01e2d127ea061e2ce8fa34340de71ca8518f093e # v1.2.1
        with:
          version: stable

      - name: Run Forge build
        run: forge build

      - name: Install Dependencies
        run: npm ci

      - name: Run Unit Tests
        run: npm run test

      - name: Set Publish Data
        id: set-publish-data
        run: |
          VERSION=$(jq -r '.version' './package.json')
          NPM_PACKAGE_NAME="hashgraph-system-contracts-forking-${VERSION}.tgz"
          echo "artifact-name=${NPM_PACKAGE_NAME}" >> "${GITHUB_OUTPUT}"

      - name: Build NPM package
        run: npm pack

      - name: Upload Hedera Custodians Library Package Artifact
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: npm-package
          path: ./${{ steps.set-publish-data.outputs.artifact-name }}
          if-no-files-found: error

  publish-npm-package:
    runs-on: ubuntu-latest
    needs:
      - build-npm-package
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Prepare Runner
        uses: pandaswhocode/initialize-github-job@ed4a98646fe0235e6ecf3af5414b355d2abe3bf3 # v1.0.3
        with:
          checkout: 'true'
          checkout-ref: '${{ github.ref }}'
          checkout-fetch-depth: '1'
          checkout-token: '${{ secrets.GITHUB_TOKEN }}'
          setup-node: 'true'
          node-version: '20'
          node-registry: 'https://registry.npmjs.org'

      - name: Install NPM latest
        run: npm install -g npm@11.7.0

      - name: Download Hedera Custodians Library NPM Package
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          name: npm-package

      - name: Publish NPM Package
        run: |
          args="--access=public"
          if [[ "${{ inputs.dry-run-enabled || 'false' }}" == "true" ]]; then
            args="${args} --dry-run"
          fi

          package="${{ needs.build-npm-package.outputs.npm-artifact-name }}"
          echo "::group::Publishing package: ${package} with args: ${args}"
          npm publish ${package} ${args}
          echo "::endgroup::"
